<!doctype html>
<html lang="cz">
{{template "head"}}
    <body>
{{template "menu" .Login}}
    <main class="container">
      <div class="w-25 mx-auto">
        <div class="p-4  border rounded-2">
          {{if eq .Action "challenge"}}
              Chystáte se smazat účet, myslíte-li to opravdu vážně, pokračujte <a href="/account-delete/challenge2">zde</a>.
          {{else if eq .Action "challenge2"}}
              <a class="w-100 btn btn-lg btn-danger mt-1" href="/account-delete/delete">Smazat účet</a>
          {{else}}
          Váš účet byl smazán, kdykoli se samozřejmě můžete přihlásit znovu.
          {{end}}
        </div>
      </div>

{{template "footer"}}
        </main>
    </body>
</html>
