<!doctype html>
<html lang="cz">
{{template "head"}}
    <body>
{{template "menu" .Login}}
    <main class="container">
      <div class="w-25 mx-auto">
        <div class="p-4  border rounded-2">
          <form method="post" action="/edit-person">
            <h2 class="h5 fw-normal text-center">Zkontrolujte, případně změňte</h2>

            <label for="inputName" class="visually-hidden">Jméno</label>
            <input id="inputName" class="form-control mt-1" placeholder="Jméno" name="firstname" value="{{.Person.Firstname}}" required>
           

            <label for="inputSurname" class="visually-hidden">Příjmení</label>
            <input id="inputSurname" class="form-control mt-1" placeholder="Příjmení" name="surname" value="{{.Person.Surname}}" required>
            
            <select name="gender" class="form-select mt-1" required>
                <option value="" selected disabled>Pohlaví</option>
                <option value="Z" {{if eq $.Person.Gender "Z"}}selected{{end}}>Žena</option>
                <option value="M" {{if eq $.Person.Gender "M"}}selected{{end}}>Muž</option>
            </select>
             <select name="birdthyear" class="form-select mt-1"  required>
                <option value="" selected disabled>Ročník</option>
                {{range $val := .Years}}<option value="{{$val}}" {{if eq $val $.Person.Birdthyear}}selected{{end}}>{{$val}}</option>{{end}}
             </select>
           <label for="inputEmail" class="visually-hidden">Email address</label>
            <input name="email" type="email" id="inputEmail" class="form-control mt-1" placeholder="Email" value="{{.Person.Email}}" readonly>
            <button class="w-100 btn btn-lg btn-danger mt-1" type="submit">Změnit</button>
          </form>
        </div>
      </div>

{{template "footer"}}
        </main>
    </body>
</html>
