{{define "menu"}}
<header id="hea" class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
    <p class="h5 my-0 me-md-auto fw-normal">runhill</p>
    <nav class="my-2 my-md-0 me-md-3">
      <a class="p-2 text-dark" href="/etapy">Etapy</a>
      <a class="p-2 text-dark" href="#">Přihlášky</a>
      <a class="p-2 text-dark" href="#">Výsledky</a>
    </nav>
    <div id="tlacitko">
   {{if eq .verify true}}
      <div  class="dropdown">
        <button  class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">{{.firstname}}</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/account-change">Změnit údaje</a></li>
          {{if eq .oauth "<nil>"}}
            <li><a class="dropdown-item" href="/password-change">Změnit heslo</a></li>
          {{end}}
          <li><a class="dropdown-item" href="/account-delete/challenge">Smazat účet</a></li>
          <li><a class="dropdown-item" href="/logout">Odhlásit se</a></li>
        </ul>
    </div>
    {{else}}
      <a class="btn btn-outline-danger" href="/login">Přihlásit se</a>
   {{end}}
</div>


</header>



{{end}}

