<!doctype html>
<html lang="cz">
{{template "head"}}
    <body>
{{template "menu" .Login}}
    <main id="registrationContainer" class="container">
      <template v-if="formular">
        <div class="w-25 mx-auto">
          <div class="p-4  border rounded-2">
            <form method="post" v-on:submit.prevent = "passwordChange">
              <h2 class="h5 fw-normal text-center">Změňa hesla</h2>
              <label for="inputPasswordOld" class="visually-hidden">Password</label>
              <input type="password" id="inputPassworOld" class="form-control mt-1" v-model="posts.passwordOld" placeholder="Zadejte staré heslo..." required>

              <label for="inputPasswordNew" class="visually-hidden">Password</label>
              <input type="password" id="inputPasswordNew" class="form-control mt-1" v-model="posts.passwordNew" placeholder="A teď nové..." required>

              <label for="inputPasswordNewConfirm" class="visually-hidden">Password</label>
              <input type="password" id="inputPasswordNewConfirm" class="form-control mt-1" v-model="posts.passwordNewConfirm" placeholder="A nové ještě jednou..." required>

              <button class="w-100 btn btn-lg btn-danger mt-1" type="submit">Změnit heslo</button>
            </form>
          </div>
        </div>
      </template>
      <div  v-bind:class="{'alert-primary' : alertPrimary,'alert-danger' : alertDanger}" class="alert text-center" role="alert" v-html="hlaskaText" v-if="hlaska"></div>

{{template "footer"}}
        </main>
          <script src="static/js/def.js"></script>
    </body>
</html>
