<!doctype html>
<html lang="cz">
{{template "head"}}
    <body>
{{template "menu" .Login}}
    <main id="registrationContainer" class="container">
      {{if eq .Murinoha "form"}}
      <div class="w-25 mx-auto">
        <div class="p-4  border rounded-2">
          <form method="post" action="/password-change">
            <h2 class="h5 fw-normal text-center">Změňa hesla</h2>
            <label for="inputPasswordOld" class="visually-hidden">Password</label>
            <input type="password" id="inputPassworOld" class="form-control mt-1" name="passwordOld" placeholder="Zadejte staré heslo..." >

            <label for="inputPasswordNew" class="visually-hidden">Password</label>
            <input type="password" id="inputPasswordNew" class="form-control mt-1" name="passwordNew" placeholder="A teď nové..." >

            <label for="inputPasswordNewConfirm" class="visually-hidden">Password</label>
            <input type="password" id="inputPasswordNewConfirm" class="form-control mt-1" name="passwordNewConfirm" placeholder="A nové ještě jednou...">

            <button class="w-100 btn btn-lg btn-danger mt-1" type="submit">Změnit heslo</button>
          </form>
        </div>
      </div>
      {{else if eq .Murinoha "old_password_equal_false"}}
        <div class="alert alert-danger text-center" role="alert">Stávající heslo nebylo zadáno správně, <a href="/password-change">zkuste to prosím znovu</a></div>
      {{else if eq .Murinoha "new_password_equal_false"}}
        <div class="alert alert-danger text-center" role="alert">Hesla se neshodují, <a href="/password-change">zkuste to prosím znovu</a></div>
      {{else if eq .Murinoha "no_all_data"}}
        <div class="alert alert-danger text-center" role="alert">{{.Hlaska}}<a href="/password-change">zkuste to prosím znovu</a></div>
      {{else if eq .Murinoha "password_changed"}}
        <div class="alert alert-primary text-center" role="alert">Heslo bylo úspěšně změněno a teď se pod ním <a href="/login">znovu přihlašte</a>.</div>
      {{else if eq .Murinoha "nologin"}}
        <div class="alert alert-primary text-center" role="alert">Chcete-li změnit heslo, <a href="/login">musíte se přihlásit</a>.</div>
      {{end}}
{{template "footer"}}
        </main>
    </body>
</html>
