<!doctype html>
<html lang="cz">
{{template "head"}}
    <body>
{{template "menu" .Login}}
    <main id="registrationContainer" class="container">
    <template v-if="formular">
      <div class="w-25 mx-auto">
        <div class="p-4  border rounded-2">

          <form method="post" v-on:submit.prevent="processForm">
            <h2 class="h5 fw-normal text-center">Doplňte, případně změňte</h2>
            <label for="inputName" class="visually-hidden">Jméno</label>
            <input id="inputName" class="form-control mt-1" placeholder="Jméno" v-model="posts.firstname" value="{{ .FirstName }}" required>

            <label for="inputSurname" class="visually-hidden">Příjmení</label>
            <input id="inputSurname" class="form-control mt-1" placeholder="Příjmení" v-model="posts.lastname" value="{{ .LastName }}" required>
            <select v-model="posts.gender" class="form-select mt-1" required>
                <option value="" selected disabled>Pohlaví</option>
                <option value="Z">Žena</option>
                <option value="M">Muž</option>
            </select>
             <select v-model="posts.birdthyear" class="form-select mt-1"  required>
                <option value="" selected disabled>Ročník</option>
                {{range $val := .Years}}
                     <option value="{{$val}}">{{$val}}</option>
                {{end}}
             </select>


            <label for="inputEmail" class="visually-hidden">Email address</label>
            <input name="email" type="email" id="inputEmail" class="form-control mt-1" placeholer="Email"  value="{{.Email}}" readonly>
            <div id="userExistsValidation" class="invalid-feedback">${hlaskaText}</div>
            <button class="w-100 btn btn-lg btn-success mt-1" type="submit">Zaregistrovat se</button>
          </form>
        </div>
      </div>
    </template>
    <div class="alert alert-danger text-center" role="alert" v-html="hlaskaText" v-if="hlaska"></div>
{{template "footer"}}
        </main>
         <script src="static/js/def.js"></script>
    </body>
</html>
